[submodule "external-modules/spark"]
	path = external-modules/spark
	url = https://github.com/JaneliaSciComp/nextflow-spark.git
[submodule "external-modules/stitching-spark"]
	path = external-modules/stitching-spark
	url = https://github.com/saalfeldlab/stitching-spark.git
