params {
    runtime_opts = ''
    dask_scheduler_port_binding = ''

    bigstream = {
        fix_name = ''
        fix_mask = ''
        fix_mask_subpath = ''
        fix_spacing = ''
        global_fix = ''
        global_fix_subpath = ''
        global_fix_spacing = fix_spacing
        global_fix_mask = fix_mask
        global_fix_mask_subpath = fix_mask_subpath

        local_fix = ''
        local_fix_subpath = ''
        local_fix_spacing = fix_spacing
        local_fix_mask = fix_mask
        local_fix_mask_subpath = fix_mask_subpath

        mov_name = ''
        mov_mask = ''
        mov_spacing = ''
        mov_mask_subpath = ''
        global_mov = ''
        global_mov_subpath = ''
        global_mov_spacing = mov_spacing
        global_mov_mask = mov_mask
        global_mask_subpath = mov_mask_subpath

        local_mov = ''
        local_mov_subpath = ''
        local_mov_spacing = mov_spacing
        local_mov_mask = mov_mask
        local_mask_subpath = mov_mask_subpath

        global_use_existing_affine_if_found = true
        global_output_dir = ''
        global_transform_name = 'aff'
        global_align_name = 'aff'

        local_output_dir = ''
        local_align_name = 'deform'
        local_transform_name = ''
        local_transform_subpath = ''
        local_invtransform_name = ''
        local_inv_transform_subpath = ''

        with_dask = true
        dask_work_dir = 'work/dask'
        dask_config = 'configs/dask_config.yml'

        global_align_cpus = 1
        global_align_mem_gb = global_align_cpus*15
        local_align_cpus = 1
        local_align_mem_gb = local_align_cpus*15

        local_align_workers = 1
        local_align_min_workers = 1
        local_align_worker_cpus = 1
        local_align_worker_mem_gb = local_align_worker_cpus*15

        global_ransac_spot_detection_method = 'log'
        global_ransac_fix_spot_winsorize_limits = '0.02,0.02'
        global_ransac_mov_spot_winsorize_limits = '0.02,0.02'
        global_shrink_factors = '2'
        global_ransac_num_sigma_max = 7
        global_ransac_cc_radius = 12
        global_ransac_nspots = 2000
        global_ransac_diagonal_constraint = 0.75
        global_ransac_match_threshold = 0.6
        global_ransac_align_threshold = 2.0
        global_ransac_fix_spot_detection_threshold = 0.01
        global_ransac_fix_spot_detection_threshold_rel = 0.05
        global_ransac_mov_spot_detection_threshold = 0.01
        global_ransac_mov_spot_detection_threshold_rel = 0.05
        global_ransac_blob_sizes = '6,20'
        global_ransac_fix_spots_count_threshold = 100
        global_ransac_mov_spots_count_threshold = 100
        global_ransac_point_matches_threshold = 50
        global_smooth_sigmas = 2.5
        global_learning_rate = 0.25
        global_metric = ''
        global_optimizer = ''
        global_sampling = ''
        global_interpolator = ''
        global_sampling_percentage = ''
        global_alignment_spacing = ''
        global_iterations = 100

        additional_deformed_subpaths = ''
        additional_deformed_paths = ''

        local_blocksize = '256,256,256'
        local_overlap_factor = 0.25
        local_transform_blocksize = '256,256,256'
        local_ransac_spot_detection_method = 'log'
        local_ransac_fix_spot_winsorize_limits = '0.02,0.02'
        local_ransac_mov_spot_winsorize_limits = '0.02,0.02'
        local_shrink_factors = '2'
        local_ransac_num_sigma_max = 7
        local_ransac_cc_radius = 12
        local_ransac_nspots = 2000
        local_ransac_diagonal_constraint = 0.30
        local_ransac_match_threshold = 0.6
        local_ransac_align_threshold = 2.0
        local_ransac_fix_spot_detection_threshold = 0.001
        local_ransac_fix_spot_detection_threshold_rel = 0.01
        local_ransac_mov_spot_detection_threshold = 0.001
        local_ransac_mov_spot_detection_threshold_rel = 0.01
        local_ransac_blob_sizes = '6,20'
        local_ransac_fix_spots_count_threshold = 100
        local_ransac_mov_spots_count_threshold = 100
        local_ransac_point_matches_threshold = 50
        local_control_point_spacing = 50
        local_control_point_levels = '1'
        local_smooth_sigmas = 0.25
        local_learning_rate = 0.25
        local_metric = ''
        local_optimizer = ''
        local_sampling = ''
        local_interpolator = ''
        local_sampling_percentage = ''
        local_alignment_spacing = ''
        local_iterations = 2

        inv_iterations = 5
        inv_order = 2
        inv_sqrt_iterations = 5

        max_local_tasks = 0
    }


}

process {

    withName:".*:BIGSTREAM_.*" {
        ext.container = 'janeliascicomp/bigstream:1.2.9-dask2024.4.1-py11'
        containerOptions = "${params.runtime_opts}"
    }

    withName:"(.*:)?BIGSTREAM_.*:DASK_STARTMANAGER" {
        containerOptions = "${params.runtime_opts} ${params.dask_scheduler_port_binding}"
    }

    withName:".*:BIGSTREAM_GLOBALALIGN" {
        ext {
            args = [
                optional_arg_value('--global-fix-spacing', params.bigstream.global_fix_spacing),
                optional_arg_value('--global-mov-spacing', params.bigstream.global_mov_spacing),
                bool_arg('--use-existing-global-transform', params.bigstream.global_use_existing_affine_if_found),
                optional_arg_value('--global-ransac-spot-detection-method', params.bigstream.global_ransac_spot_detection_method),
                optional_arg_value('--global-ransac-fix-spot-winsorize-limits', params.bigstream.global_ransac_fix_spot_winsorize_limits),
                optional_arg_value('--global-ransac-mov-spot-winsorize-limits', params.bigstream.global_ransac_mov_spot_winsorize_limits),
                optional_arg_value('--global-shrink-factors', params.bigstream.global_shrink_factors),
                optional_arg_value('--global-ransac-num-sigma-max', params.bigstream.global_ransac_num_sigma_max),
                optional_arg_value('--global-ransac-cc-radius', params.bigstream.global_ransac_cc_radius),
                optional_arg_value('--global-ransac-nspots', params.bigstream.global_ransac_nspots),
                optional_arg_value('--global-ransac-diagonal-constraint', params.bigstream.global_ransac_diagonal_constraint),
                optional_arg_value('--global-ransac-match-threshold', params.bigstream.global_ransac_match_threshold),
                optional_arg_value('--global-ransac-align-threshold', params.bigstream.global_ransac_align_threshold),
                optional_arg_value('--global-ransac-fix-spot-detection-threshold', params.bigstream.global_ransac_fix_spot_detection_threshold),
                optional_arg_value('--global-ransac-fix-spot-detection-threshold-rel', params.bigstream.global_ransac_fix_spot_detection_threshold_rel),
                optional_arg_value('--global-ransac-mov-spot-detection-threshold', params.bigstream.global_ransac_mov_spot_detection_threshold),
                optional_arg_value('--global-ransac-mov-spot-detection-threshold-rel', params.bigstream.global_ransac_mov_spot_detection_threshold_rel),
                optional_arg_value('--global-ransac-blob-sizes', params.bigstream.global_ransac_blob_sizes),
                optional_arg_value('--global-ransac-fix-spots-count-threshold', params.bigstream.global_ransac_fix_spots_count_threshold),
                optional_arg_value('--global-ransac-mov-spots-count-threshold', params.bigstream.global_ransac_mov_spots_count_threshold),
                optional_arg_value('--global-ransac-point-matches-threshold', params.bigstream.global_ransac_point_matches_threshold),
                optional_arg_value('--global-smooth-sigmas', params.bigstream.global_smooth_sigmas),
                optional_arg_value('--global-learning-rate', params.bigstream.global_learning_rate),
                optional_arg_value('--global-metric', params.bigstream.global_metric),
                optional_arg_value('--global-optimizer', params.bigstream.global_optimizer),
                optional_arg_value('--global-sampling', params.bigstream.global_sampling),
                optional_arg_value('--global-interpolator', params.bigstream.global_interpolator),
                optional_arg_value('--global-sampling-percentage', params.bigstream.global_sampling_percentage),
                optional_arg_value('--global-alignment-spacing', params.bigstream.global_alignment_spacing),
                arg_value('--global-iterations', params.bigstream.global_iterations)
            ].join(' ')
        }
    }

    withName:".*:BIGSTREAM_LOCALALIGN" {
        ext {
            args = [
                optional_arg_value('--local-fix-spacing', params.bigstream.local_fix_spacing),
                optional_arg_value('--local-mov-spacing', params.bigstream.local_mov_spacing),
                optional_arg_value('--output-blocksize', params.bigstream.local_blocksize),
                optional_arg_value('--blocks-overlap-factor', params.bigstream.local_overlap_factor),
                optional_arg_value('--local-transform-blocksize', params.bigstream.local_transform_blocksize),
                optional_arg_value('--local-ransac-spot-detection-method', params.bigstream.local_ransac_spot_detection_method),
                optional_arg_value('--local-ransac-fix-spot-winsorize-limits', params.bigstream.local_ransac_fix_spot_winsorize_limits),
                optional_arg_value('--local-ransac-mov-spot-winsorize-limits', params.bigstream.local_ransac_mov_spot_winsorize_limits),

                optional_arg_value('--local-shrink-factors', params.bigstream.local_shrink_factors),
                optional_arg_value('--local-ransac-num-sigma-max', params.bigstream.local_ransac_num_sigma_max),
                optional_arg_value('--local-ransac-cc-radius', params.bigstream.local_ransac_cc_radius),
                optional_arg_value('--local-ransac-nspots', params.bigstream.local_ransac_nspots),
                optional_arg_value('--local-ransac-diagonal-constraint', params.bigstream.local_ransac_diagonal_constraint),
                optional_arg_value('--local-ransac-match-threshold', params.bigstream.local_ransac_match_threshold),
                optional_arg_value('--local-ransac-align-threshold', params.bigstream.local_ransac_align_threshold),
                optional_arg_value('--local-ransac-fix-spot-detection-threshold', params.bigstream.local_ransac_fix_spot_detection_threshold),
                optional_arg_value('--local-ransac-fix-spot-detection-threshold-rel', params.bigstream.local_ransac_fix_spot_detection_threshold_rel),
                optional_arg_value('--local-ransac-mov-spot-detection-threshold', params.bigstream.local_ransac_mov_spot_detection_threshold),
                optional_arg_value('--local-ransac-mov-spot-detection-threshold-rel', params.bigstream.local_ransac_mov_spot_detection_threshold_rel),
                optional_arg_value('--local-ransac-blob-sizes', params.bigstream.local_ransac_blob_sizes),
                optional_arg_value('--local-ransac-fix-spots-count-threshold', params.bigstream.local_ransac_fix_spots_count_threshold),
                optional_arg_value('--local-ransac-mov-spots-count-threshold', params.bigstream.local_ransac_mov_spots_count_threshold),
                optional_arg_value('--local-ransac-point-matches-threshold', params.bigstream.local_ransac_point_matches_threshold),
                optional_arg_value('--local-control-point-spacing', params.bigstream.local_control_point_spacing),
                optional_arg_value('--local-control-point-levels', params.bigstream.local_control_point_levels),
                optional_arg_value('--local-smooth-sigmas', params.bigstream.local_smooth_sigmas),
                optional_arg_value('--local-learning-rate', params.bigstream.local_learning_rate),
                optional_arg_value('--local-metric', params.bigstream.local_metric),
                optional_arg_value('--local-optimizer', params.bigstream.local_optimizer),
                optional_arg_value('--local-sampling', params.bigstream.local_sampling),
                optional_arg_value('--local-interpolator', params.bigstream.local_interpolator),
                optional_arg_value('--local-sampling-percentage', params.bigstream.local_sampling_percentage),
                optional_arg_value('--local-alignment-spacing', params.bigstream.local_alignment_spacing),
                arg_value('--local-iterations', params.bigstream.local_iterations),
                optional_arg_value('--inv-iterations', params.bigstream.inv_iterations),
                optional_arg_value('--inv-order', params.bigstream.inv_order),
                optional_arg_value('--inv-sqrt-iterations', params.bigstream.inv_sqrt_iterations),
                optional_arg_value('--cluster-max-tasks', params.bigstream.max_local_tasks),
            ].join(' ')
        }
    }

}

def arg_value(arg_flag, arg_value) {
    "${arg_flag} ${arg_value}"
}

def bool_arg(arg_flag, arg_value) {
    arg_value ? "${arg_flag}" : ''
}

def optional_arg_value(arg_flag, arg_value) {
    arg_value ? "${arg_flag} ${arg_value}" : ''
}
