params {
    runtime_opts = ''
    bigstream_dask_scheduler_port_binding = ''
    bigstream_with_dask = true
    bigstream_dask_work_dir = 'work/dask'
    bigstream_dask_config = 'configs/dask_config.yml'

    bigstream_config = './configs/bigstream_config.yml'
    bigstream_fix_mask_descriptor = ''
    bigstream_mov_mask_descriptor = ''

    bigstream_global_steps = ''
    bigstream_local_steps = ''

    bigstream_fix_name = ''
    bigstream_global_fix = ''
    bigstream_global_fix_subpath = ''
    bigstream_global_fix_spacing = ''
    bigstream_global_fix_mask = ''
    bigstream_global_fix_mask_subpath = ''

    bigstream_local_fix = ''
    bigstream_local_fix_subpath = ''
    bigstream_local_fix_spacing = ''
    bigstream_local_fix_mask = ''
    bigstream_local_fix_mask_subpath = ''

    bigstream_mov_name = ''
    bigstream_global_mov = ''
    bigstream_global_mov_subpath = ''
    bigstream_global_mov_spacing = ''
    bigstream_global_mov_mask = ''
    bigstream_global_mov_mask_subpath = ''

    bigstream_local_mov = ''
    bigstream_local_mov_subpath = ''
    bigstream_local_mov_spacing = ''
    bigstream_local_mov_mask = ''
    bigstream_local_mov_mask_subpath = ''

    bigstream_global_use_existing_affine_if_found = true
    bigstream_global_output_dir = ''
    bigstream_global_transform_name = 'aff'
    bigstream_global_align_name = 'aff'
    bigstream_global_align_subpath = ''

    bigstream_local_output_dir = ''
    bigstream_local_align_name = 'warped'
    bigstream_local_align_subpath = ''
    bigstream_local_transform_name = ''
    bigstream_local_transform_subpath = ''
    bigstream_local_inv_transform_name = ''
    bigstream_local_inv_transform_subpath = ''
    bigstream_local_transform_spacing = ''

    bigstream_global_align_cpus = 1
    bigstream_global_align_mem_gb = 15
    bigstream_local_align_cpus = 1
    bigstream_local_align_mem_gb = 15

    bigstream_local_align_workers = 1
    bigstream_local_align_worker_threads = 1
    bigstream_local_align_min_workers = 1
    bigstream_local_align_worker_cpus = 1
    bigstream_local_align_worker_mem_gb = 15

    bigstream_additional_deformed_subpaths = ''
    bigstream_additional_deformed_paths = ''

    bigstream_local_blocksize = '256,256,256'
    bigstream_local_overlap_factor = 0.25

    bigstream_inv_iterations = 5
    bigstream_inv_order = 2
    bigstream_inv_sqrt_iterations = 5

    bigstream_dask_cluster_max_tasks = 0
}

process {

    withName:"(.*:)?BIGSTREAM_.*" {
        ext.container = 'janeliascicomp/bigstream:1.3.0-dask2024.4.1-py11'
        containerOptions = "${params.runtime_opts}"
    }

    withName:"(.*:)?BIGSTREAM_.*:DASK_STARTMANAGER" {
        containerOptions = "${params.runtime_opts} ${params.bigstream_dask_scheduler_port_binding}"
    }

    withName:"(.*:)?BIGSTREAM_.*:DASK_STARTWORKER" {
        ext {
            args = [
                "--nthreads ${params.bigstream_local_align_worker_threads}",
            ].join(' ')
        }
    }

    withName:".*:BIGSTREAM_GLOBALALIGN" {
        ext {
            args = [
                bool_arg('--global-use-existing-transform', params.bigstream_global_use_existing_affine_if_found),
                optional_arg_value('--global-fix-spacing', params.bigstream_global_fix_spacing),
                optional_arg_value('--global-mov-spacing', params.bigstream_global_mov_spacing),
            ].join(' ')
        }
    }

    withName:".*:BIGSTREAM_LOCALALIGN" {
        ext {
            args = [
                // voxel spacing in case this is not present in the volume metadata
                optional_arg_value('--local-fix-spacing', params.bigstream_local_fix_spacing),
                optional_arg_value('--local-mov-spacing', params.bigstream_local_mov_spacing),

                optional_arg_value('--local-fix-mask-descriptor', params.bigstream_fix_mask_descriptor)
                optional_arg_value('--local-mov-mask-descriptor', params.bigstream_mov_mask_descriptor)

                optional_arg_value('--local-processing-size', params.bigstream_local_blocksize),
                optional_arg_value('--local-processing-overlap-factor', params.bigstream_local_overlap_factor),

                // parameters for generating the inverse transform
                optional_arg_value('--inv-iterations', params.bigstream_inv_iterations),
                optional_arg_value('--inv-order', params.bigstream_inv_order),
                optional_arg_value('--inv-sqrt-iterations', params.bigstream_inv_sqrt_iterations),

                optional_arg_value('--cluster-max-tasks', params.bigstream_dask_cluster_max_tasks),
            ].join(' ')
        }
    }

    withName:".*:BIGSTREAM_DEFORM" {
        ext {
            args = [
                optional_arg_value('--output-blocksize', params.bigstream_local_blocksize),
                optional_arg_value('--transform-spacing', params.bigstream_local_transform_spacing),
            ].join(' ')
        }
    }

}

def arg_value(arg_flag, arg_value) {
    "${arg_flag} ${arg_value}"
}

def bool_arg(arg_flag, arg_value) {
    arg_value ? "${arg_flag}" : ''
}

def optional_arg_value(arg_flag, arg_value) {
    arg_value ? "${arg_flag} ${arg_value}" : ''
}
