includeConfig 'external-modules/spark/nextflow.config'

profiles {

    standard {
        docker.enabled = false
        singularity.enabled = true
    }

    lsf {
        process {
            executor = 'lsf'

            clusterOptions = params.lsf_opts

            withLabel: withGPU {
                queue = 'gpu_any'
                clusterOptions = '-gpu "num=1" ' + params.lsf_opts
            }
        }

        docker {
            enabled = false
        }

        singularity {
            enabled = true
        }
    }

    awsbatch {
        aws {
            region = 'us-east-1'

            client {
                maxConnections = 20
                connectionTimeout = 10000
            }

            batch {
                cliPath = '/home/ec2-user/miniconda/bin/aws'
                maxTransferAttempts = 10
                volumes = [ '/tmp', '/scratch/multifish' ]
                jobRole = 'easi-multifish-dev-ECSTaskRole'
            }
        }

        process {
            executor = 'awsbatch'
            queue = 'easi-multifish-dev-multifish-cpu-job-queue'

            withLabel: small {
                queue = 'easi-multifish-dev-multifish-small-cpu-job-queue'
            }

            withLabel: withGPU {
                queue = 'easi-multifish-dev-multifish-gpu-job-queue'
            }
        }
        docker {
            enabled = true
        }
        singularity {
            enabled = false
        }
    }

}
