includeConfig 'external-modules/spark/nextflow.config'

params {
    //registration_container = "$PWD/containers/bigstream/out.sif"
    registration_container = "docker://janeliascicomp/bigstream:1.0.0"
}

profiles {

    lsf {
        process {
            executor = 'lsf'

            clusterOptions = params.lsf_opts

            withLabel: withGPU {
                queue = 'gpu_any'
                clusterOptions = '-gpu "num=1" ' + params.lsf_opts
            }
        }

        docker {
            enabled = false
        }

        singularity {
            enabled = true
        }
    }

}
