params {
    input_image_subpath = 'c1/s5'
    outdir = './output'
    cellpose_models_dir = './output/cellpose-models'
    output_image_dir = './output/cellpose'
    cellpose_work_dir = ''
    output_image_name = 'seg.n5'
    dask_work_dir = './output/dask'
    process_blocksize = '32,32,16'
    output_blocksize = '8,8,8'
    distributed = true
    model = 'cyto'
    diameter = 10
    blocks_overlap = '4,4,4'
    cellprob_threshold = 1.0
    cellpose_eval_channels = '0,0'
    max_cellpose_tasks = 10
    cellpose_workers = 5
    cellpose_required_workers = 1
    cellpose_worker_cpus = 0.6
    cellpose_worker_mem_gb = 6
    cellpose_driver_cpus = 0.5
    cellpose_driver_mem_gb = 10
    min_size = 10
    iou_depth = 1
    iou_threshold = 0.5
    device = '0'
    use_gpu = true
    use_net_avg = false
    runtime_opts = ''
    save_intermediate_labels = true
}

process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    ext.container = 'ghcr.io/janeliascicomp/cellpose:2.2.3-dask2023.10.1-py11'

    withName:CELLPOSE {
        ext {
            args = [
                "--process-blocksize ${params.process_blocksize}",
                "--output-blocksize ${params.output_blocksize}",
                "--max-cellpose-tasks ${params.max_cellpose_tasks}",
                "--model ${params.model}",
                "--cellprob_threshold ${params.cellprob_threshold}",
                "--diam_mean ${params.diameter}",
                "--blocks-overlaps ${params.blocks_overlap}",
                "--eval-channels ${params.cellpose_eval_channels}",
                "--min_size ${params.min_size}",
                "--device ${params.device}",
                "--iou-threshold ${params.iou_threshold}",
                "${params.use_gpu ? '--use_gpu' : ''}",
                "${params.use_net_avg ? '--net_avg' : ''}",
                "${params.save_intermediate_labels ? '--save-intermediate-labels' : ''}",
            ].join(' ')
        }
    }
}

docker {
    temp = 'auto'
    runOptions = "${params.runtime_opts}"
}